# locally installed dependencies
node_modules/

# environment files
.env
.env.development
.env.production
.env.test

# typescript build output
/dist

# unit test coverage
/coverage

# AI stuff
.claude